{{define "content"}}
<script src=" ../static/js/tablesearch.js"></script>

<h2><a href="/movie?movie={{.CurrentFilm}}">This film</a> is currently playing!</h2>

<form onkeyup="searchTable()" style="padding-bottom:10px" align="left" action = "/" method = "post">
		<input type="text" id="search" placeholder="Type to search">
        <input type="submit" name="refresh" value="Refresh File List" />
</form>

<table id="omx-table">
{{range $index, $file := .MovieList}}
{{if mod $index 2}}<tr><td><a href="/movie?movie={{.FullFilePath}}">{{.FileName}}</a></td><td>
{{ else }}<a href="/movie?movie={{.FullFilePath}}">{{.FileName}}</a>
</td></tr>
{{ end }}
{{end}}
</tr>
</table>
{{end}}