{{define "content"}}
<form style="padding-bottom:10px" align="left" action = "/" method = "post">
		<input type="text" id="search" placeholder="Type to search">
        <input type="submit" name="refresh" value="Refresh File List" />
</form>
<div class="table-responsive">
<table  id="omx-table" class="table table-hover table-striped">
{{range $index, $file := .MovieList}}
{{if mod $index 2}}<tr><td><a href="/movie?movie={{.FullFilePath}}">{{.FileName}}</a></td>
{{ else }}<td><a href="/movie?movie={{.FullFilePath}}">{{.FileName}}</a></td></tr>
{{ end }}
{{end}}
</tr>
</table>
</div> 
{{end}}