{{define "content"}}
<script src=" ../static/js/tablesearch.js"></script>

<form onkeyup="searchTable()" style="padding-bottom:10px" align="left" action = "/" method = "post">
		<input type="text" id="search" placeholder="Type to search">
        <input type="submit" name="refresh" value="Refresh File List" />
        <a class="button grey" href="/?grp=">Hide Folders</a>
</form>

<table id="omx-table">
{{$prev := ""}}
{{range $index, $file := .MovieList}}
    {{if eq $prev .Folder}}
    <tr><td><small>&nbsp;</small></td><td>
    {{else}}
    <tr><td>{{.Folder}}</td><td>
    {{end}}
    <small><a href="/movie?movie={{.FullFilePath}}">{{.FileName}}</a></small></td></tr>
    {{$prev = .Folder}}
{{end}}
</tr>
</table>
{{end}}
